/**index.less**/
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .scrollareaxxx {
    flex: 1;
    overflow-y: hidden;
    color: rebeccapurple;
    @apply ~"mx-[985rpx] bg-bg text-main";
  }
}
.a {
  @apply ~"mb-[211rpx]";
}
